@font-face {
  font-family: 'pompiere_regular';
  src: url('../fonts/pompiere-regular-webfont.eot');
  src: url('../fonts/pompiere-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/pompiere-regular-webfont.woff') format('woff'),
       url('../fonts/pompiere-regular-webfont.ttf') format('truetype'),
       url('../fonts/pompiere-regular-webfont.svg#pompiere_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}