.menu-items
  .menu-item
    a
      display: block
      span.image, span.image-hover
        display: block
        width: 125px
        height: 200px
        margin: 0 auto
        background-size: 100% 175px
      span.image-hover
        display: none
      span.label
        text-align: center
        color: black
      &:hover
        text-decoration: none

    &.menu-item
      width: 20%
      float: left
      +at-media(less-than-ipad-portrait)
        float: none
        width: 100%
        a
          border-bottom: 1px dotted lightgray
          padding-bottom: 10px
          padding-top: 10px
        span.image, span.image-hover
          float: left
          width: 50px
          height: 70px
          margin-left: 10px
          background-size: 100% 70px
          background-position: top left !important
        br
          display: none
        span.label
          text-align: left
          display: block
          height: 70px
          line-height: 70px
          margin-left: 50px + 20px

    &.menu-item a
      span.image
        display: block
        background-repeat: no-repeat
      span.image-hover
        display: none
        background-repeat: no-repeat
      &:hover
        span.image
          display: none
        span.image-hover
          display: block

    &.menu-item-1 a
      span.image
        background-image: url(../images/links/asd-1.png)
        background-position-y: 25px
      span.image-hover
        background-image: url(../images/links/asd-2.png)
        background-position-y: 25px

    &.menu-item-2 a
      span.image
        background-image: url(../images/links/church-1.png)
        background-position-y: 28px
      span.image-hover
        background-image: url(../images/links/church-2.png)
        background-position-y: 28px

    &.menu-item-3 a
      span.image
        background-image: url(../images/links/cake-1.png)
      span.image-hover
        background-image: url(../images/links/cake-2.png)

    &.menu-item-4 a
      span.image
        background-image: url(../images/links/glas-1.png)
      span.image-hover
        background-image: url(../images/links/glas-2.png)

    &.menu-item-5 a
      span.image
        background-image: url(../images/links/present-1.png)
        background-position-y: 35px
      span.image-hover
        background-image: url(../images/links/present-2.png)
        background-position-y: 35px
